/* Created by: Rory Mackay
* Created on: April 2022
* This CSS file defines the style for index.html
* ICS2O-Unit3-01-HTML-JS-AreaTrapezoid
*/

body {
  background: #ff94f1;
}

h1 {
	background-color: #6600ff;
	text-align: left;
}

div {
	
  color: #ffffff;
  margin: 5px;
  background-color: #2500e0;
}
